.card{
    margin: 1rem;
    padding: 0;
    width: 14rem;
    border: none;
}
.container{
    display: flex;
    margin: 0;
}
button{
    margin: 0.2rem;
}
.btn-container{
    justify-content: center;
    align-items: center;
}
h1{
    margin: 1.5rem;
}